.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 25px;
    margin-top: 25px;
    gap: 10px;
    .paginationContainer{
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }
    .item, .itemActive, .paginationBtn{
        font-weight: 700;
        padding: 7px;
        border-radius: 5px;
        font-size: 20px;
        color: #FF6C01;
        cursor: pointer;
        &:hover, &:focus{
            outline: none;
            background-color: #FFAD76;
        }
    }
    .paginationBtn{
        color:#3B1A89;
        &:hover, &:focus{
            outline: none;
            background-color: lighten(#926EEA, 10);
        }
    }
    .itemActive{
        transform: scale(1.1);
        color: #3B1A89;
        background-color: lighten(#926EEA, 10);
        font-size: 20px;
    }

}

@media (max-width: 500px ){
    .container {
        padding-bottom: 20px;
        gap: 5px;
        overflow-x: auto;
        .paginationContainer{
            gap: 10px;
            .item{
                font-size: 15px;
                padding: 0px;
            }
            .pagination{
                font-size: 15px;
                padding: 5px;
            }
            .itemActive{
                transform: scale(1.05);
                font-size: 16px;
                padding: 5px;
            }
        }
    }
}
