.container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 25px;
    gap: 10px;
    .item, .itemActive, .paginationBtn{
        font-weight: 700;
        padding: 7px;
        border-radius: 5px;
        font-size: 20px;
        color: #FF6C01;
        cursor: pointer;
        &:hover, &:focus{
            outline: none;
            background-color: #FFAD76;
        }
    }
    .paginationBtn{
        color:#3B1A89;
        &:hover, &:focus{
            outline: none;
            background-color: lighten(#926EEA, 10);
        }
    }
    .itemActive{
        transform: scale(1.1);
        color: #3B1A89;
        background-color: lighten(#926EEA, 10);
    }

}

@media (max-width: 500px ){
    .container {
        padding: 20px;
        gap: 5px;
        .item{
            font-size: 15px;
            padding: 5px;
        }
        .itemActive{
            transform: scale(1.05);
        }
    }
}

@media (max-width: 400px ){
    .container {
        gap: 5px;
        .item{
            font-size: 10px;
        }
        .itemActive{
            transform: scale(1.05);
        }
    }
}