.searchResult{
    font-weight: 500;
    font-size: 1.5rem;
    span{
        font-weight: 700;
        color: #3B1A89;
    }
}

@media (max-width: 400px){
    .searchResult{
        font-size: 18px;
    }
}